@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'P22 Stickley Pro Caption', sans-serif;
  color: #00463C;
  background-color: #DFEEDA;
}

html {
  scroll-padding-top: 70px;
  /* ヘッダーの高さ */
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

/* 部品
------------------------------------------ */
.center {
  margin: 0 auto;
  text-align: center;
}

li,
a {
  list-style: none;
  color: #DFEEDA;
}

a {
  text-decoration: none;
  border-bottom: 0.8px solid #00463C;
  padding-bottom: 3px;
}

h1 {
  color: #CBA878;
}

h2 {
  padding: 80px 0 38px 0;
  font-size: 31.5px;
  font-weight: normal;
}

p {
  line-height: 1.75;
  letter-spacing: 0.35px;
}

/* ボタン
--------------------- */
.button {
  background-color: #00463C;
  border-radius: 50px;
  border-bottom: none;
  border: 0.8px solid #00463C;
  color: #DFEEDA;
  display: block;
  max-width: 304px;
  width: 100%;
  height: 56.01px;
  line-height: 55px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  letter-spacing: 0.23em;
  font-size: 17px;
}

.button-box {
  margin: 80.47px 0 115.2px;
}

.sp {
  display: none;
}

.start {
  background: #00463C;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 51.5%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  /* width: 280px; */
}

.start__img {
  width: 230px;
}

/* header
------------------------------------------ */
header {
  background-color: #00463C;
  color: #9BCEBB;
  height: 70px;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 46.5px 0 48.5px;
}

.logo-img {
  width: 193.45px;
  padding-top: 29px;
}

.logo {
  width: 36.5px;
}

/* main-video
--------------------- */
.movie {
  /* height: 83.1vh; */
  height: auto;
  width: 93.85%;
  position: relative;
}

.header__video {
  text-align: right;
  margin: 0 0 0 auto;
  padding-top: 112px;
  padding-bottom: 166px;
  background-color: #00463C;
  color: #9BCEBB;
}


/* 縦書き
--------------------- */
.text-right {
  position: fixed;
  color: #9BCEBB;
  font-size: 1rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
  margin: 0 25px;
  top: 48.01%;
  right: 0.65%;
  z-index: 999;
  font-size: 13px;
}

.open .text-right {
  top: 42.01%;
}

.text-left {
  position: fixed;
  color: #9BCEBB;
  font-size: 1rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: rotate(180deg);
  margin: 0 25px;
  top: 48.1%;
  left: 0.7%;
  z-index: 999;
  font-size: 13px;
}

.open .text-left {
  top: 42.01%;
}

.line::after {
  content: "";
  height: 20%;
  border-right: 0.8px solid #9BCEBB;
  background-color: #9BCEBB;
  width: 1px;
  color: #9BCEBB;
  margin: 0 25px;
  position: absolute;
  top: 76.5%;
  right: 20px;
}


/*スクロールダウン全体の場所*/
.scrolldown {
  position: absolute;
  right: 2.98%;
  top: 80%;
  height: 50px;
}

/* 線の描写 */
.scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #9BCEBB;
  animation: pathmove 1.5s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }

  30% {
    height: 200px;
    opacity: 1;
  }

  100% {
    height: 0;
    top: 300px;
    opacity: 0;
  }
}

img {
  width: 100px;
}

.header__list {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-end;
}

.header__list__jp {
  display: flex;
  gap: 32.5px;
  align-items: center;
  justify-content: flex-end;
  font-size: 12.5px;
}

.open .header__list .pc {
  gap: 38px;
}

.header__list__jp {
  padding-top: 19px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header__inner {
  justify-content: space-between;
  display: flex;
}

.header__nav a {
  color: #DFEEDA;
  text-decoration: none;
}

.hamburger__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger__img {
  width: 366px;
}

.header__hamburger {
  display: none;
}

/* ハンバーガーメニュー
--------------------- */
.hamburger {
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 45px 48px 31px 16px;
}

.open .hamburger {
  padding: 45px 78px 31px 16px;
}

.hamburger__span,
.hamburger__span::before,
.hamburger__span::after {
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: #DFEEDA;
  content: "";
  transition: .3s;
}

.hamburger__logo__img {
  width: 192px;
  margin-left: 50px;
}

.hamburger__span {
  position: absolute;
  top: 36px;
  width: 25px;
  height: 1px;
  background-color: #DFEEDA;
  content: "";
  margin-left: 4px;
}

.hamburger__span::before {
  top: -9px;
}

.hamburger__span::after {
  bottom: -8px;
}

.open .hamburger__span {
  background-color: transparent;
}

.open .hamburger__span::before,
.open .hamburger__span::after {
  background-color: #ffffff;
}

.open .hamburger__span::before {
  top: 0;
  transform: rotate(45deg);
}

.open .hamburger__span::after {
  bottom: 0;
  transform: rotate(-45deg);
}


.open .hamburger-menu {
  display: none;
}

.open .header__hamburger {
  background-color: #00463C;
  color: #9BCEBB;
  flex-direction: column;
  height: 100vh;
  padding: 9px 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  z-index: 20;
}

.open .header__list {
  gap: 38px;
}

.open .logo-img {
  margin-left: 50px;
  padding-top: 0px;
}

.hamburger__footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.header__hamburger__item {
  margin-right: 31px;
  font-size: 16px;
  padding-top: 18px;
}

.header__hamburger__menu {
  display: flex;
  justify-content: space-between;
}

.rooms__inner,
.about,
footer {
  background-color: #00463C;
  color: #DFEEDA;
}

.header__list__sp {
  display: none;
}

/* main
------------------------------------------ */
.spend,
.rooms__inner,
.access__inner,
.sns,
.footer-address {
  display: flex;
}

.spend {
  gap: 125px;
}

.spend__text {
  width: 419px;
  padding-top: 97px;
}

.spend__text h2 {
  font-size: 22.8px;
}

.spend__text p {
  padding-bottom: 21.9px;
}

.spend__img {
  width: 50%;
  height: auto;
  margin-top: -51px;
  margin-bottom: 218.3px;
}

.see__img {
  width: 100%;
  margin-bottom: 38px;
  height: 891px;
  object-fit: cover;
}

.rooms__inner {
  border-bottom: 0.8px solid #9BCEBB;
  justify-content: center;
  text-align: left;
  padding: 25.4px 0 26.5px;
}

.rooms__lower{
  background-color: #DFEEDA;
  color: #00463C;
}

.rooms__text {
  width: 315px;
  letter-spacing: 2px;
  line-height: 2;
}

.rooms__text h3 {
  font-size: 30px;
  padding-bottom: 5px;
  letter-spacing: 1.7px;
}

.rooms__text p {
  padding-bottom: 15px;
  letter-spacing: 0.55px;
}

.rooms__img {
  width: 390px;
  height: 283px;
  object-fit: cover;
  padding: 11.5px 0 10px;
}

.rooms__arrow__img__pc {
  width: 55px;
}

.rooms__arrow__img__sp {
  display: none;
  width: 55px;
}

.rooms__btn {
  color: #DFEEDA;
  letter-spacing: -0.5px;
  border-bottom: 0.8px solid #DFEEDA;
}

.rooms__arrow {
  display: flex;
  border-bottom: none;
  align-items: flex-end;
  margin: 227px 61px 0 20px;
  /* height: 273px; */
}

.rooms__item {
  display: flex;
}

.arrow__bottom {
  display: flex;
  align-items: flex-end;
}

.glass {
  height: 696px;
  background-image: url("../img/umitomori_HP_3.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* transform: translateY(-102.162px); */
}

/*
.glass__img {
  width: 100%;
  height: 890px;
  object-fit: cover;
} */

.information {
  padding-top: 66.5px;
  margin-bottom: 51.5px;
}

.information__box {
  border-top: 0.8px solid #00463C;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 17.5px 0;
}

.information__box p {
  font-size: 15px;
  letter-spacing: -0.25px;
}

.information__top,
.information__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.information__border {
  border-bottom: 0.8px solid #00463C;
  margin-bottom: 38px;
}

.information__box .date::before {
  content: "●";
  padding-right: 3px;
}

.information__box .title {
  color: #9BCEBB;
}

.arrow {
  width: 38px;
  margin-left: 36px;
}

.btn__wrap {
  max-width: 930px;
  margin: 0 auto;
}

.arrow__left {
  text-align: left;
}

.information__btn {
  color: #00463C;
  letter-spacing: 1.5px;
  margin-right: 45px;
}

.information__arrow {
  border-bottom: none;
}

.btn__right {
  text-align: right;
}

.access__inner {
  border-top: 0.8px solid #00463C;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 195px;
  text-align: left;
  margin-bottom: 95px;
}

.access__text {
  width: 345px;
  padding-top: 17px;
}

.access__text h3 {
  font-weight: normal;
  padding-bottom: 20px;
}

.access__text p {
  padding-bottom: 17px;
  letter-spacing: 0.01px;
  line-height: 1.7;
}

.access__img {
  width: 300px;
}

.access__btn {
  border-bottom: none;
}

.photos {
  margin-bottom: 50px;
  padding-top: 10px;
}

.rooms__photos {
  background-color: #00463C;
}

.photos__box {
  position: relative;
  display: flex;
}

.photos__box {
  overflow: hidden;
}

.photos__box__list {
  display: flex;
  list-style: none;
  padding: 0
}

.photos__box__list {
  animation: photos__box__list-left 350s infinite linear 0.5s both;
}

.photos__box__list2 {
  position: absolute;
  top: 0;
  left: 0;
  animation: photos__box__list-rl 350s infinite linear 0.5s both;
  display: flex;
  list-style: none;
  padding: 0;
}

.photos__item {
  width: calc(100vw / 2);
}

.photos__item>img {
  width: 100%;
  /* height: 534.5px; */
}

/* PC表示
------------------------------------------ */
@media (min-width: 950px) {

  .rooms__photos__box {
    position: relative;
    display: flex;
  }

  .rooms__photos__box {
    overflow: hidden;
  }

  .rooms__photos__box__list {
    animation: photos__box__list-left 350s infinite linear 0.5s both;
  }

  .rooms__photos__box__list,
  .rooms__photos__inner__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .rooms__photos__item {
    width: calc(100vw / 2);
    background-color: #DFEEDA;
    color: #00463C;
  }
}

@keyframes photos__box__list-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes photos__box__list-rl {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.photos__btn,
.other__btn {
  color: #00463C;
  letter-spacing: 1.5px;
  margin-right: 48px;
}

.photos__padding {
  padding-bottom: 38px;
}

.other__box {
  border-top: 0.8px solid #00463C;
  padding: 37.5px 0 34.5px 0;
  margin-top: 8px;
}

.other__img__sp {
  display: none;
}

.other {
  margin-bottom: 134.5px;
}


.other__img__pc,
.other__img__sp,
.about__img {
  width: 100%;
}

.other__img__sp {
  display: none;
}

.other__box a,
.other__box__page a {
  border-bottom: none;
}



.btn__left {
  align-items: flex-end;
  display: flex;
  margin-left: 44px;
  justify-content: flex-start
}

.about {
  margin: 0 auto;
  text-align: center;
  padding: 60px 25px 98.5px 20px;
}

.about__logo {
  width: 76px;
}

.about h2 {
  padding: 50px 0 45px 0;
  font-size: 23.5px;
  letter-spacing: 0.2px;
}

.about__wrap {
  max-width: 567px;
  margin: 0 auto;
}

.about__box dl {
  max-width: 500px;
  margin-bottom: 100px;
}

.about__box dt {
  padding-top: 49px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 15.5px;
  display: block;
  width: 300px;
  letter-spacing: 1.8px;
}

.about__box dt::before {
  content: "-";
  padding-right: 3px;
}

.about__box dd::before {
  content: "・";
  padding-right: 3px;
  line-height: 1.8;
}

.about__box dd {
  text-align: left;
  font-size: 12.5px;
  color: #668B7E;
  text-indent: -1em;
  padding-left: 6px;
  letter-spacing: 0.97px;
}

.about__img {
  display: flex;
  padding-top: 50px;
  background-color: #00463C;
}

.about__img img {
  width: 100%;
}

/* rooms Page
------------------------------------------ */
.rooms__lower {
  border: none;
  margin: 0 auto;
  padding: 103px 0 28.5px 0;
}

.rooms__photos__item>img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.rooms__text__page h3 {
  font-size: 22px;
}

.rooms__photos__box {
  margin-bottom: 75px;
}

.rooms__arrow__wrap {
  display: flex;
  text-align: left;
  align-items: flex-end;
  max-width: 810px;
}

.rooms__arrow__right {
  text-align: right;
  width: 500px;
}

.rooms__item__link {
  border-bottom: none;
}

.rooms__item__img {
  width: 58px;
  margin-bottom: 24px;
}

/* information Page
------------------------------------------ */
.information__inner {
  margin-bottom: 35px;
}

.information__title {
  padding: 120px 0 39px;
}

.arrow__bottom {
  width: 55px;
  margin-left: 46px;
}

/* other Page
------------------------------------------ */
.header-layout-other {
  padding-top: 100px;
}

.other__box__page {
  border-top: 0.8px solid #00463C;
  padding: 37.5px 0 34.5px 0;
  margin-top: -2px;
}

.other__all {
  margin: -17px 0 20px;
}

.all__h2 {
  padding-bottom: 50px;
  padding-top: 137px;
}

.all-arrow {
  border-bottom: none;
  text-align: left;
}

.arrow__all {
  width: 55px;
}

/* footer
------------------------------------------ */

footer {
  background-color: #00463C;
  color: #E0ECDB;
  text-align: left;
  height: 296px;
  padding-top: 64px;
}

.footer-inner {
  height: 274px;
}

.footer__name {
  display: none;
}

.footer__logo {
  width: 40px;
}

.icon {
  width: 25px;
}

.language a {
  border-bottom: none;
}

.language {
  padding-right: 53px;
  gap: 1px;
  display: flex;
  padding-top: 7px;
}

.sns {
  padding-left: 52px;
  gap: 20px;
}

.sns a {
  border-bottom: none;
}

.language__link {
  padding-left: 20px;
}

.footer-address {
  padding-left: 52px;
  gap: 83px;
}

.footer-address-en {
  padding-bottom: 53px;
}

.footer-address-en p {
  line-height: 1.54;
  letter-spacing: -0.85px;
  font-size: 14px;
}

.footer-address-jp p {
  font-size: 11.5px;
  line-height: 1.95;
  letter-spacing: 1.15px;
}

.google {
  border-bottom: 0.8px solid #DFEEDA;
  padding-bottom: 3px;
}

.footer-address-jp-access {
  margin-bottom: 18px;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright__pc {
  color: #668B7E;
  font-size: 13.7px;
  padding-left: 8px;
  padding-top: 4px;
  letter-spacing: 0.5px;
}

.footer__copyright__sp {
  display: none;
}

.google {
  border-bottom: 0.8px solid #9BCEBB;
}

/* SP表示
------------------------------------------ */
@media (max-width: 930px) {
  h2 {
    padding: 52px 0 23.5px 0;
    font-size: 28px;
  }

  p {
    letter-spacing: 0.6px;
  }

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .center__sp {
    margin: 0 auto;
    text-align: center;
  }

  .start__img {
    width: 168px;
  }

  header {
    height: 55px;
    padding: 0 2px 1px 24px;
  }

  .logo-img,
  .header__hamburger__menu img {
    width: 119.45px;
    padding-top: 0px;
  }

  .header__list,
  .logo {
    display: none;
  }

  .hamburger {
    height: 55px;
    padding: 0px;
  }

  .header__nav {
    gap: 0;
  }

  .hamburger__span {
    top: 28px;
  }

  .hamburger__logo__img {
    margin-left: 21px;
  }

  .header__hamburger__menu img {
    width: 120px;
    padding-top: 23px;
  }

  .header__list__sp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 0.8px solid #9BCEBB;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  .header__list__sp dt {
    border-top: 0.8px solid #9BCEBB;
    letter-spacing: 4.2px;
    width: 70%;
  }

  .header__list__sp dt a {
    display: inline-block;
    padding: 14px 0 14px 23px;
    width: 100%;
    letter-spacing: 1.7px;
    font-size: 18px;
  }

  .header__list__sp dd {
    width: 30%;
    border-top: 0.8px solid #9BCEBB;
    display: flex;
    justify-content: flex-end;
  }

  .header__list__sp dd a {
    display: inline-block;
    padding: 16px 23px 14px 0;
    width: 100%;
    text-align: right;
  }


  .open .header__hamburger {
    padding: 0;
  }

  .open .hamburger {
    padding: 45px 47px 12px 16px;
  }

  .header__video {
    padding-top: 40px;
    padding-bottom: 86px;
  }

  .hamburger__footer {
    position: static;
  }

  .movie {
    width: 100%;
    /* height: 586px; */
  }

  .text-left,
  .text-right {
    display: none;
  }

  .spend,
  .rooms__inner,
  .access__inner,
  .rooms__photos__inner__list,
  .information__box,
  .footer-address {
    flex-direction: column;
  }

  .spend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .spend__text {
    width: 317px;
    padding-top: 40px;
  }

  .spend__text p {
    padding-bottom: 23.9px;
  }

  .spend h2 {
    padding: 0px 0 30px 0;
  }

  .spend__img {
    width: 100%;
    margin-bottom: -15.5px;
    height: 400px;
  }

  .see__img {
    display: none;
  }

  .rooms__img {
    padding: 11.5px 0 10px;
  }

  .rooms__item,
  .rooms__photos__box {
    background-color: #DFEEDA;
    color: #00463C;
  }

  .rooms__photos__box {
    padding-top: 35px;
  }

  .rooms__item {
    justify-content: space-between;
    padding: 11px 0 4.2px 0;
  }

  .rooms__photos__box {
    margin-bottom: 0px;
  }

  .rooms__img,
  .rooms__photos__img {
    width: 100%;
    height: 287px;
  }

  .rooms__photos__item>img {
    max-width: 100%;
    height: 265px;
  }

  .rooms__inner {
    background-color: #DFEEDA;
    color: #00463C;
    border-top: 0.8px solid #00463C;
    padding: 0 0 5px 0;
  }

  .rooms__text__width__center {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .rooms__text {
    padding: 0 0 0 25px;
  }

  .rooms__text__width {
    padding: 23px 0 15px;
  }

  .rooms__border {
    border-bottom: 1px solid #00463C;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  .rooms__text__width__center {
    text-align: center;
  }

  .rooms__text h3 {
    font-size: 26.5px;
    margin-bottom: 20px;
    letter-spacing: -1.5px;
  }

  .rooms__text__width__center h3 {
    padding-top: 53px;
    padding-bottom: 23px;
  }

  .rooms__text__left {
    text-align: left;
  }

  .rooms__photos__box__list {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .rooms__photos__item1>img {
    padding-bottom: 31px;
    width: 295px;
  }

  .rooms__text p {
    padding-bottom: 0px;
    letter-spacing: 0.55px;
    line-height: 1.5;
  }

  .rooms__arrow {
    align-items: self-start;
    margin: 19px 22px 0 0px;
    height: 0px;
  }

  .rooms__arrow__img__pc {
    display: none;
  }

  .rooms__arrow__img__sp {
    display: inline-block;
    width: 28px;
  }

  .arrow__left__rooms {
    margin-bottom: 42px;
  }

  .rooms__btn {
    display: none;
  }

  .rooms__photos__inner__list {
    margin: 0 auto;
  }

  .rooms__photos__item {
    max-width: 100%;
    padding-bottom: 6px;
  }

  .button-box {
    margin: 24.47px 0 42.2px;
  }

  .button {
    background-color: #00463C;
    border-radius: 50px;
    border-bottom: none;
    border: 0.8px solid #00463C;
    color: #DFEEDA;
    display: block;
    max-width: 230px;
    width: 100%;
    height: 43.01px;
    line-height: 42px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    letter-spacing: 0.01em;
    font-size: 17px;
  }

  .glass {
    display: none;
  }

  .information__title {
    padding: 88px 0 31px;
  }

  .information-text {
    letter-spacing: -0.37px;
  }

  .information {
    padding-top: 0px;
    margin-bottom: 46.5px;
  }

  .information h2 {
    letter-spacing: -1.1px;
  }

  .information__box {
    padding: 11px 23.5px 13.5px;
    text-align: left;
    gap: 14px;
    align-items: self-start;
  }

  .information__box p {
    letter-spacing: -0.4px;
    line-height: 1.44;
  }

  .information__btn {
    margin-right: 22px;
  }

  .information__border {
    margin-bottom: 23px;
  }

  .information__inner {
    margin-bottom: 44px;
  }

  .arrow__bottom {
    width: 26px;
    margin-left: 25px;
  }

  .arrow {
    width: 28px;
    padding-top: 16px;
    margin-right: 3px;
    margin-left: 0px;
  }

  .photos__item {
    width: calc(100vw / 1);
  }

  .photos__btn,
  .other__btn {
    margin-right: 23px;
  }

  .access__inner {
    gap: 16px;
    padding-top: 15.5px;
    margin-bottom: 40.5px;
  }

  .access__text p {
    padding: 0 0 17px 8px;
    letter-spacing: -0.1px;
    line-height: 1.65;
  }

  .access__img {
    width: 100%;
    height: 266px;
  }

  .photos__padding {
    padding-bottom: 35px;
  }

  .photos {
    padding-top: 60px;
    margin-bottom: 45px;
  }

  .photos__item>img {
    height: 267.5px;
  }

  .other__box {
    padding: 21.5px 0 28.5px 0;
  }

  .other__img__sp {
    display: inline-block;
  }

  .other__img__pc {
    display: none;
  }

  .other__img__sp {
    height: 273px;
  }

  .other {
    margin-bottom: 66.9px;
  }

  .about {
    padding: 57px 21px 57px 24px;
  }

  .about__logo {
    width: 58px;
  }

  .about h2 {
    letter-spacing: -1.9px;
    padding: 51px 0 20px 0;
  }

  .about__box dt {
    letter-spacing: 1px;
    padding-top: 46.5px;
    line-height: 0.9;
  }

  .about__box dd {
    letter-spacing: 0.8px;
    line-height: 1.3;
  }

  .other__all {
    margin: -17px 0 41px;
  }

  .all__h2 {
    padding-bottom: 30px;
    padding-top: 104px;
  }

  .arrow__all {
    width: 28px;
  }

  .btn__left {
    margin-left: 24px;
  }

  .other__box__page {
    margin-top: 0px;
    padding: 22.5px 0 21.5px 0;
  }

  footer {
    padding-top: 60px;
    height: 427px;
  }

  .footer__name p {
    letter-spacing: 1.38px;
    line-height: 1.75;
  }

  .footer__logo {
    padding: 4px 4px 0 0;
    width: 42px;
  }

  .footer-address {
    padding-left: 25px;
  }

  .footer-address-en {
    padding-bottom: 24px;
  }

  .footer-address-jp-access {
    margin-bottom: 22px;
  }

  .footer-address-en p {
    letter-spacing: -0.25px;
  }

  .footer-address-jp p {
    letter-spacing: 1.6px;
  }

  .footer__name {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }

  .footer-address {
    gap: 0px;
  }

  .sns {
    padding-left: 25px;
    gap: 19px;
  }

  .language {
    padding-right: 26px;
    padding-top: 9px;
  }

  .language__link {
    padding-left: 23px;
  }

  .footer__item {
    margin-top: 43px;
    margin-bottom: 26.5px;
  }

  .footer__copyright__pc {
    display: none;
  }

  .footer__copyright__sp {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}
